DJANGO_SETTINGS_MODULE=pushdemo.settings.test
RUN_MODE=test
DJANGO_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ALLOWED_HOSTS=31.97.37.175,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://31.97.37.175

POSTGRES_DB=pushdemo
POSTGRES_USER=pushdemo
POSTGRES_PASSWORD=CHANGE_THIS_DATABASE_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432

VAPID_SUBJECT=mailto:YOUR_EMAIL@example.com
VAPID_PRIVATE_KEY_PATH=/app/keys/vapid_private.pem
VAPID_PUBLIC_KEY_PATH=/app/keys/vapid_public.txt

DEMO_USERNAME=demo
DEMO_EMAIL=demo@example.com
DEMO_PASSWORD=CHANGE_THIS_DEMO_PASSWORD
RESET_DEMO_PASSWORD=0

LETSENCRYPT_EMAIL=YOUR_EMAIL@example.com
